{% extends "template.html" %}
{% block content %}
  <a class="waves-effect waves-light btn" href="{{ url_for('new') }}">New Game</a>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead class="thead-default">
          <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Console</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
      {% for game in games %}
          <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.category }}</td>
            <td>{{ game.console }}</td>
            <!--pass a game_id to edit url-->
            <td>
              <!--show info for game-->
              <a class="waves-effect waves-light btn blue" href="#">Show</a>
              <a class="waves-effect waves-light btn green" href="{{ url_for('edit', game_id = game.id) }}">Edit</a>
              <a class="waves-effect waves-light btn red" href="{{ url_for('delete', game_id = game.id) }}">Delete</a>
            </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}