{% extends "template.html" %}
{% block content %}
  <form action="{{ url_for('create') }}" method="post">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input id="name" name="name" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <input id="category" name="category" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Console</label>
      <div class="control">
        <input id="console" name="console" class="input" type="text">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="waves-effect waves-light btn">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}