{% extends "template.html" %}
{% block content %}
  <form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
    <div class="row">
      <figure class="thumbnail col m2 s4">
        <img class="responsive-img" src="{{ url_for('image', filename = 'capa_default.jpg') }}">
        <figcaption>
          <label class="fileContainer">
            <input type="file" name="image" accept=".jpg">
          </label>
        </figcaption>
      </figure>
    </div>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input id="name" name="name" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <input id="category" name="category" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Console</label>
      <div class="control">
        <input id="console" name="console" class="input" type="text">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="waves-effect waves-light btn">Submit</button>
        <a class="waves-effect waves-light btn red" href="{{ url_for('index') }}">Back</a>
      </div>
    </div>
  </form>
{% endblock %}