<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/materialize.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}">
    <title>{{ tab_name }}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="row" id="alert_box">
                  <div class="col s12 m12">
                    <div class="card {{ category }} darken-1">
                      <div class="row">
                        <div class="col s12 m10">
                          <div class="card-content white-text">
                            {{ message }}
                          </div>
                        </div>
                        <div class="col s12 m2">
                          <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                   </div>
                  </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="title">
              <h1>{{ title }}</h1>
          </div>
          {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>